html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

button:visited {
	background-image:none;
	background-color:#4d012d;
}

button:hover {
	background-image:none;
	background-color:#0cbcb6;
}

html {
	background-image: url('/k2/img/fon.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	height: 100%;	
}

nav	{
	display: inline-block;
	font-weight:700;
	margin:0px;
	padding:10px 0 0;
}

button	{
	margin-top: 25px;
	height:25px;
	width:200px;
	font-weight:700;
	padding:0px 0 0;
}

h1 {
	font-family:Verdana, Arial, Helvetica, 
	sans-serif;
    font-size: 55px;
}

h2 {
	font-family:Verdana, Arial, Helvetica, 
	sans-serif;
    font-size: 20px;
}

h3 {
	font-family:Verdana, Arial, Helvetica, 
	sans-serif;
    font-size: 16px;
    padding-top: 10px;
}

ol, ul {
    list-style: none;
}

li {
	display: inline-block;
}

p {
	font-family:Verdana, Arial, Helvetica, 
	sans-serif;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 10px;
    text-align: justify;
    text-indent: 1.5em;
}

textarea {
    background-color:#e1e1e1;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 2px;
}

#ddnav {
    background-color: #12313d;
    height: 60px;
    margin: 0;
    padding: 0;
}

#treat{
	text-align: justify;
}
#suma{
	height: 30px;
 	margin-left: 15px;
}
 #area
 {
	height: 30px;
 	margin-left: 15px;
}

.climbing, .season, .options {
	width:33%;
	position: relative;
	margin: 15px;
}
.comment{
	padding: 10px;
}

.empty {
	width:0.5%;
	height: 200px;
	position: relative;
	float: none;
	margin: 0;
    padding: 0;
}

.form {
	display: flex;
	justify-content: space-between;
}

.button.shadow, .vote1.votebutton, .vote2.votebutton,.button.save {
  	box-shadow: 0 0 15px rgba(0,0,0,0.7);
}  

.history-block{
	display: flex;
	justify-content: space-between;
}

.h2history{
	padding-left: 10px;
}
.block{
	width:50%;
	position: relative;
	float: none;
	margin: 10px;
    padding: 0;
}

.emptycalc {
	height: 280px;
}

.emptychick {
height: 218px;
}

.button.save:hover {
	background-image:none;
	background-color:#d2b9cc;
}

.votebutton {
	height:50px;
	width:600px;
	font-weight:700;
	margin:0 auto;
	padding:0px 0 0;
	border-radius:15px;
}

.vote1.votebutton:hover {
	background-image:none;
	background-color:#6dd279;
}

.vote2.votebutton:hover {
	background-image:none;
	background-color:#db6d6d;
}
.votenav1, .votenav2 {
	width:50%;
	height: 50px;
	position: relative;
	margin: 15px;
	display: flex;
	justify-content: raw;
}
.wrapper {
	max-width: 100%;
}

.footer2 {
   background-color: #d1d1d9;
   position: absolute;
   left: 0; 
   bottom: 0; 
   height:80px;
   padding-bottom: 0px;
   width: 100%;
  }

  .footer {
   background-color: #d1d1d9;
   height:80px;
   padding-bottom: 0px;
   width: 100%;
  }

.fcont {
	font-family:Verdana, Arial, Helvetica, cursive;
	color: #500304;
    font-size: 16px;
    text-align: center;
}

.timeout {
	margin: auto;
	background: #abebf4; 
	width: 1000px; 
	padding: 10px;
	text-align: center;
}